<p>
  <b>Name:</b>
  <%=h @nagios_service_template.name %>
</p>


<%= link_to 'Edit', edit_nagios_service_template_path(@nagios_service_template) %> |
<%= link_to 'Back', nagios_service_templates_path %>
