<p>
  <b>Name:</b>
  <%=h @colo.name %>
</p>

<p>
  <b>Description:</b>
  <%=h @colo.description %>
</p>

<table>
  <tr>
    <th>Name</th>
<!--    <th>Colo</th> -->
  </tr>

</table>

<%= link_to 'Edit', edit_colo_path(@colo) %> |
<%= link_to 'Back', colos_path %>
