<p>
  <b>Manufacture:</b>
  <%=h @server_model.manufacture %>
</p>

<p>
  <b>Model:</b>
  <%=h @server_model.model %>
</p>


<%= link_to 'Edit', edit_server_model_path(@server_model) %> |
<%= link_to 'Back', server_models_path %>
