<p>
  <b>Manufacture:</b>
  <%=h @video_model.manufacture %>
</p>

<p>
  <b>Model:</b>
  <%=h @video_model.model %>
</p>


<%= link_to 'Edit', edit_video_model_path(@video_model) %> |
<%= link_to 'Back', video_models_path %>
