<h1>New memory_details</h1>

<%= error_messages_for :memory_details %>

<% form_for(@memory_details) do |f| %>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', memory_details_path %>
